<h3 class="title is-3">{{team.name}}</h3>
<h4 class="title is-4">Teammitglieder</h4>
<ul>
    <li *ngFor="let member of team.members">
        <span>{{member.name}}</span>
    </li>
</ul>
<h4 class="title is-4">Mittagessen</h4>
<div class="field">
    <div class="control">
        <input [(ngModel)]="team.lunch.restaurant" class="input" placeholder="Restaurant" />
    </div>
</div>
<ul>
    <li *ngFor="let participant of team.lunch.participants">
        <span>{{participant.name}}</span>
        <span *ngIf="participant.turn">X</span>
        <span>
            <label class="checkbox">
                <input type="checkbox" [(ngModel)]="participant.present">
                Remember me
            </label>
        </span>
    </li>
</ul>
