<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Loony Lunch</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
        <script src="https://use.fontawesome.com/releases/v5.0.0/js/all.js" />
    </head>
    <body>
        <p th:each="team: ${teams}"><a th:href="@{/teams/{id}(id=${team.id})}" th:text="${team.name}" /></p>
    </body>
</html>