<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Loony Lunch</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
        <script src="https://use.fontawesome.com/releases/v5.0.0/js/all.js" />
    </head>
    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third"></div>
                    <div class="column is-one-third">
                        <h1 class="title" th:text="${team.name}" />
                        <p class="subtitle"></p>
                        <form action="#" th:action="@{/teams/{id}/lunch(id=${team.id})}" method="post">
                            <div class="control">
                                <input type="text" th:value="${team.lunch.restaurant}" th:name="restaurant" class="input" placeholder="Restaurant" />
                            </div>
                            <input type="submit" value="Speichern" class="button is-primary" />
                        </form>
                    </div>
                    <div class="column is-one-third"></div>
                </div>

                <div class="columns">
                    <div class="column is-one-third"></div>
                    <div class="column has-text-weight-bold">Name</div>
                    <div class="column has-text-weight-bold">An der Reihe</div>
                    <div class="column has-text-weight-bold">Nimmt teil</div>
                    <div class="column is-one-third"></div>
                </div>
                <div class="columns" th:each="member: ${team.members}">
                    <div class="column is-one-third"></div>
                    <div class="column" th:text="${member.firstname}" />
                    <div class="column has-text-weight-bold" th:text="${member.turn ? 'x' : ''}" />
                    <div class="column">
                        <form action="#" th:action="@{/teams/{id}/participants/{participantId}(id=${team.id}, participantId=${member.id})}" method="post">
                            <input type="checkbox" th:checked="${member.present}" onclick="this.form.submit()" class="checkbox" />
                        </form>
                    </div>
                    <div class="column is-one-third"></div>
                </div>

                <div class="columns">
                    <div class="column is-one-third"></div>
                    <div class="column is-one-third">
                        <form action="#" th:action="@{/teams/{id}(id=${team.id})}" method="post">
                            <input type="submit" value="Next" class="button is-primary" />
                        </form>
                    </div>
                    <div class="column is-one-third"></div>
                </div>
            </div>
        </section>
    </body>
</html>