<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Getting Started: Serving Web Content</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link rel="icon" type="image/x-icon" href="favicon.ico" />
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
	</head>
	<body>
	    <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third"></div>
                    <div class="column is-one-third">
                        <form th:action="@{/login}" method="post">
                            <div class="field">
							    <div class="control">
							    	<input type="email" name="username" class="input" placeholder="E-Mail" />
							  	</div>
							</div>
							<div class="field">
							    <div class="control">
							    	<input type="password" name="password" class="input" placeholder="Passwort" />
							  	</div>
							</div>
							<div><input type="submit" class="button is-link" value="Login"/></div> 
                        </form>
                    </div>
                    <div class="column is-one-third"></div>
                </div>
            </div>
        </section>
	</body>
</html>
